fastapi
uvicorn
pydantic
sentence-transformers>=2.2.2
transformers>=4.37.0
PyPDF2
motor
pydantic-settings
tf-keras
langchain-text-splitters
langchain-huggingface
langchain>=0.1.0
langchain-deepseek
langchain-community
langgraph
pinecone-client>=2.2.1
loguru
redis[hiredis]>=4.6.0
httpx
pymongo
pydantic[email]
python-multipart
bitsandbytes-cpu  # Solo si necesitas cuantización en CPU
accelerate>=0.26.0  # Opcional, solo si usas cuantización
blobfile>=2.0.0
numpy
torch>=2.0.0+cpu  # Versión de CPU de PyTorch